<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="false"
   multipleSiteBindingsEnabled="true" />
  <services>
			<!--<service name="LogicServiceMatematicas.NumeroDobleClass"
          behaviorConfiguration="metadatatrue">
				<endpoint address="" binding="basicHttpBinding"
        contract="LogicServiceMatematicas.INumeroDobleContract"/>
			</service>-->
			<service name="LogicServiceMatematicas.ServiceTablaMultiplicarClass"
          behaviorConfiguration="metadatatrue">
				<endpoint address="" binding="basicHttpBinding"
        contract="LogicServiceMatematicas.IServiceTablaMultiplicar"/>
			</service>
		</services>
		<behaviors>
   <serviceBehaviors>
    <behavior name="metadatatrue">
     <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
    </behavior>
    <behavior name="">
     <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
     <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
   </serviceBehaviors>
  </behaviors>
	</system.serviceModel>
	<system.web>
		<compilation debug="true"/>
	</system.web>
</configuration>
